.tech-box{
    --op : 0;
    --scale:1;
    align-items: center;
    gap:60px;
    background-color: rgba(78, 10, 167, 0.1);
    box-shadow: 1px 1px 2px black;
    transition: .3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.tech-box:hover{
    --scale:0.8;
    gap:5px;
    --op  : 1;
    box-shadow: inset 1px 1px 5px black;
}

.tech-box img{
    scale: var(--scale);
}

.tech-name{
    opacity: var(--op);
    transition: 1s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: .5px .5px 1px black;
}