#link {
    /* background-color: rgb(112, 19, 112); */
    position: relative;
    overflow: hidden;
    /* z-index: 3; */
    box-shadow: 5px 5px 5px rgb(16, 8, 27);
    transition: .3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#link::after {
    transition: inherit;
    content: '';
    position: absolute;
    top: 100px;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: inherit;
    left: 50%;
    transform: translate(-50%, 0%);
    background: linear-gradient(rgb(139, 33, 238), rgb(47, 4, 75));
    transition: .3s cubic-bezier(0.25, 0.8, 0.25, 1);

}

#link:hover {
    box-shadow: 5px 5px 10px rgb(16, 8, 27);
    scale: 1.1;

}

#link:hover::after {
    top: 0px;
}