/* Common cursor styles */
.cursor,
.cursor-small {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 9999;
  pointer-events: none;
}

/* Main cursor */
.cursor {
  width: 8px;
  height: 8px;
  background-color: var(--color-light-blue);
}

/* Small cursor */
.cursor-small {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 9999;
  pointer-events: none;
}

/* Hide cursor on mobile screens */
@media(max-width: 1024px) {

  .cursor,
  .cursor-small {
    display: none;
  }
}