/* Common cursor styles */
.cursor, .cursor-small {
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 200;
  transition: width .5s cubic-bezier(0.25, 0.8, 0.25, 1), height .5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Main cursor */
.cursor {
  width: 35px;
  height: 35px;
  border: 2.5px solid rgba(255, 255, 255, .8);
  border-radius: 50%;
}

/* Hover effect for the main cursor */
.cursor.enlarged {
  width: 50px;
  height: 50px;
}

/* Small cursor */
.cursor-small {
  width: 8px;
  height: 8px;
  background-color: rgb(81, 238, 191);
  border-radius: 50%;
  /* transition: width 1s cubic-bezier(0.25, 0.8, 0.25, 1), height 1s cubic-bezier(0.25, 0.8, 0.25, 1); */
}

/* Hover effect for the small cursor */
.cursor-small.enlarged {
  width: 16px;
  height: 16px;
}

@media(max-width: 1024px) {
  .cursor,
  .cursor-small {
    display: none;
  }
}
