@import "tailwindcss";

.font-code {
  font-family: "Source Code Pro", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-fahk {
  font-family: "Fahkwang", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-exo {
  font-family: "Exo", sans-serif;
  font-style: normal;
}

.font-ub {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
}
.font-ubmono {
  font-family: "Ubuntu Mono", monospace;
  font-style: normal;
}

* {
  box-sizing: border-box;
  /* transition: .3s cubic-bezier(0.25, 0.8, 0.25, 1);  <-- REMOVED: Major performance bottleneck */
}

@property --col {
  syntax: "<color>";
  initial-value: rgb(30, 3, 43);
  inherits: false;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* color: whitesmoke; */
  background-image: radial-gradient(circle at 100%, rgb(47, 9, 150), rgb(13, 5, 24), rgb(13, 5, 24));
  /* background: url("/images/Small-waves-[remix].gif"); */
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  transition: 1s ease;
  user-select: none;
}

.dark {
  background: linear-gradient(transparent, rgba(14, 10, 26, 0.7), rgba(14, 10, 26, 0.9));
  color: whitesmoke;
}

.light {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.5));
  color: rgb(20, 20, 20);
}

a:hover {
  color: rgb(180, 255, 230);
  font: bold
}

/* @keyframes bg {
  0% {
    --col: rgb(47, 9, 150);
  }

  100% {
    --col: rgb(13, 5, 24);
  }
} */

/* Custom Scrollbar */
.scrollbar {
  position: fixed;
  right: 10px;
  top: 0;
  width: 5px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.scrollbar-thumb {
  width: 100%;
  height: 0;
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1c0020;
  /* Light purple */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #9c27b0;
  /* Purple */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7b1fa2;
  /* Darker purple */
}

/* ============================================================================== */
:root {
  --bor-col: #6d319b;
}

img,
svg {
  pointer-events: none;
}

/* ============================================================================== */