@import "tailwindcss";
@import './assets/fonts/fonts.css';


.font-star {
  font-family: "Starborn", sans-serif;
}

.font-saint {
  font-family: "212 Saint Paddy Demo", sans-serif;
}

.font-cad {
  font-family: "CADEAUX", sans-serif;
}

.font-irish {
  font-family: "Irish Clovers Demo", sans-serif;
}

.font-leaf {
  font-family: "GrowWest-Regular", sans-serif;
}

.font-code {
  font-family: "Source Code Pro", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-hawk {
  font-family: "Fahkwang", serif;
  font-style: normal;
}

.font-exo {
  font-family: "Exo 2", sans-serif;
  font-style: normal;
}

.font-ub {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
}

.font-ubmono {
  font-family: "Ubuntu Mono", monospace;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@property --col {
  syntax: "<color>";
  initial-value: rgb(30, 3, 43);
  inherits: false;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
}

body {
  height: 100%;
  width: 100%;
  /* color: whitesmoke; */
  background-image: radial-gradient(circle at 100%, rgb(47, 9, 150), rgb(13, 5, 24), rgb(13, 5, 24));
  /* background: url("/images/Small-waves-[remix].gif"); */
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  transition: 1s ease;
  user-select: none;
}

.dark {
  background: linear-gradient(transparent, rgba(14, 10, 26, 0.7), rgba(14, 10, 26, 0.9));
  color: whitesmoke;
}

.light {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.5));
  color: rgb(20, 20, 20);
}

#intro {
  backdrop-filter: blur(1.5rem);
}

a:hover {
  color: rgb(180, 255, 230);
  font: bold
}

/* @keyframes bg {
  0% {
    --col: rgb(47, 9, 150);
  }

  100% {
    --col: rgb(13, 5, 24);
  }
} */

/* Custom Scrollbar */
.scrollbar {
  position: fixed;
  right: 10px;
  top: 0;
  width: 5px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.scrollbar-thumb {
  width: 100%;
  height: 0;
  background: #888;
  border-radius: 5px;
}

/* ============================================================================== */
:root {
  --bor-col: #6d319b;
}

img,
svg {
  pointer-events: none;
}

/* ============================================================================== */
/* scrollbar.css */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1c0020;
  /* Light purple */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #9c27b0;
  /* Purple */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7b1fa2;
  /* Darker purple */
}


/* ============================================================================== */
nav {
  position: sticky;
  top: 20px;
  min-width: 70%;
  background: linear-gradient(to right, rgba(26, 26, 26, 0.2), rgba(20, 1, 20, 0.2));
  box-shadow: .5px .5px .5px rgba(90, 90, 92, 0.5);
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);
  --mt: 30px;
  --scale: .9;
  transition: none;
}

nav:hover {
  background: linear-gradient(to right, rgba(26, 26, 26, 0.2), rgba(20, 1, 20, 0.3));
  box-shadow: .5px .5px 3px rgba(90, 90, 92, 0.5);
  --mt: 5px;
  --scale: 1.05;

}

#avatar-cont {
  padding: 5px;
  width: 100px;
  --mt2: 0;
  transition: .3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#avatar-cont:hover {
  --mt: 180px;
  --scale: 1.05;
}

.avatar {
  margin-top: var(--mt);
  scale: var(--scale);
  height: 80px;
  filter: drop-shadow(-3px -3px 2px rgb(0, 0, 0));
  transition: .3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@media(max-width: 1024px) {
  nav {
    justify-content: space-between;
    /* overflow: hidden; */
  }

  #avatar-cont {
    overflow: hidden;

  }

  #UL {
    background: linear-gradient(rgba(35, 29, 58, 0.8), rgb(91, 70, 211));
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
    box-shadow: 2px 2px 3px black;
    transition: none;
  }

  #ham {
    display: block;
    opacity: 1;
    pointer-events: auto;
  }
}

/* ============================================================================== */
#lets {
  transition: .3s cubic-bezier(0.25, 0.8, 0.25, 1);
  --pos: -6px;

}

#lets:hover {
  --pos: -10px;
}

#lets button:active {
  --pos: 0px;

}


#lets button {
  top: var(--pos);
  left: var(--pos);
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);
}



/* ============================================================================== */