@keyframes bgText {
  0% {
    background-position: 0px;
  }

  100% {
    background-position: 100rem;
  }
}

.name {
  animation: bgText 7s infinite alternate;
  background-image: linear-gradient(to right, rgb(105, 70, 255), rgb(30, 199, 148), rgb(105, 70, 255));
  cursor: pointer;
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#main-head h1 {
  transition: none !important;
}

.waves {
  animation: bgText 2s infinite alternate;
  background-image: linear-gradient(to right, rgb(55, 25, 189), transparent, rgb(30, 199, 148), rgb(55, 25, 189));
  transition: .8s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.name:hover {
  animation: bgText 2s infinite alternate;
}

.name>*:hover {
  transition: .3s cubic-bezier(0.25, 0.8, 0.25, 1);
}