nav {
    position: sticky;
    top: 20px;
    min-width: 70%;
    background: linear-gradient(to right, rgba(34, 0, 56, 0.2), rgba(56, 0, 185, 0.2));
    box-shadow: .5px .5px .5px rgba(90, 90, 92, 0.5);
    -webkit-backdrop-filter: blur(.5rem);
    backdrop-filter: blur(.5rem);
    --mt: 30px;
    --scale: .9;
    transition: none;
}

nav:hover {
    background: linear-gradient(to right, rgba(34, 0, 56, 0.2), rgba(56, 0, 185, 0.5));
    box-shadow: .5px .5px 3px rgba(23, 23, 59, 0.5);
    --mt: 5px;
    --scale: 1.05;

}

#avatar-cont {
    padding: 5px;
    width: 100px;
    --mt2: 0;
    transition: .3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#avatar-cont:hover {
    --mt: 180px;
    --scale: 1.05;
}

.avatar {
    margin-top: var(--mt);
    scale: var(--scale);
    height: 80px;
    filter: drop-shadow(5px -2px 7px #222222a8);
    transition: .3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@media(max-width: 1024px) {
    nav {
        justify-content: space-between;
        /* overflow: hidden; */
    }

    #avatar-cont {
        overflow: hidden;
        
    }

    #UL {
        background: linear-gradient(to bottom, rgba(34, 0, 56, 0.8), rgba(56, 0, 185));
        -webkit-backdrop-filter: blur(.5rem);
        backdrop-filter: blur(.5rem);
        box-shadow: 2px 2px 3px black;
        transition: none;
    }
    
    #ham {
        display: block;
        opacity: 1;
        pointer-events: auto;
    }
}